Repository TuGraph-family/chat2graph, pull requests merged in 2025-04, with the labels that each got.

#49 feat(graphdb): implement Neo4jDb and add terminate_job_graph
  app/core/agent/agent.py
  app/core/agent/expert.py
  app/core/agent/leader.py
  app/core/common/system_env.py
  app/core/graph_db/graph_db.py
  app/core/graph_db/graph_db_config.py
  app/core/graph_db/graph_db_factory.py
  app/core/knowledge/knowledge_store_factory.py
  app/core/model/message.py
  app/core/sdk/wrapper/job_wrapper.py
  app/core/service/graph_db_service.py
  app/core/service/job_service.py
  app/core/service/message_service.py
  app/core/service/service_factory.py
  app/core/workflow/eval_operator.py
  app/plugin/neo4j/graph_db.py
  app/plugin/neo4j/graph_store.py
  app/plugin/neo4j/resource/data_importation.py
  app/plugin/neo4j/resource/graph_analysis.py
  app/plugin/neo4j/resource/graph_modeling.py
  app/plugin/neo4j/resource/graph_query.py
  app/plugin/tugraph/graph_db.py
  app/plugin/tugraph/resource/data_importation.py
  app/plugin/tugraph/resource/graph_analysis.py
  app/plugin/tugraph/resource/graph_modeling.py
  app/plugin/tugraph/resource/graph_query.py
  app/plugin/tugraph/tugraph_db.py
  app/server/api/file_api.py
  app/server/api/graphdb_api.py
  app/server/manager/graph_db_manager.py
  test/example/run_graph_db.py
  test/example/run_tugraph.py
  test/unit/test_job_decomposition.py
Labels: feat, priority:H, size:M, planner, plugin

#62 feat: demo walkthrough and experience optimization
  app/core/prompt/job.py
  app/core/prompt/reasoner.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/model_service.py
  app/core/sdk/chat2graph.yml
  app/core/sdk/wrapper/session_wrapper.py
  app/core/service/job_service.py
  app/plugin/neo4j/resource/data_importation.py
Labels: feat, priority:H, size:S

#83 Fix exception occurs when deleting knowledge base
  app/core/service/knowledge_base_service.py
  app/plugin/dbgpt/dbgpt_knowledge_store.py
Labels: bug, knowledge, priority:M, size:S

#86 feat(web): add default options for database type, host and port
  web/src/pages/Graphdb/components/GraphDataModal/index.tsx
Labels: feat, web

#84 feat: e2e experience optimization
  app/core/agent/leader.py
  app/core/dal/dao/job_dao.py
  app/core/dal/do/job_do.py
  app/core/model/agentic_config.py
  app/core/model/job.py
  app/core/prompt/job_decomposition.py
  app/core/prompt/reasoner.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/model_service.py
  app/core/reasoner/mono_model_reasoner.py
  app/core/sdk/agentic_service.py
  app/core/sdk/chat2graph.yml
  app/core/sdk/wrapper/job_wrapper.py
  app/core/service/graph_db_service.py
  app/core/toolkit/graph_db/graph_db_factory.py
  app/plugin/neo4j/graph_db.py
  app/plugin/neo4j/resource/data_importation.py
  app/plugin/neo4j/resource/graph_modeling.py
  app/plugin/neo4j/resource/graph_query.py
  app/plugin/neo4j/resource/schema_operation.py
  app/plugin/neo4j/resource/system_checking.py
  app/plugin/tugraph/graph_db.py
  app/plugin/tugraph/resource/graph_modeling.py
  app/server/bootstrap.py
  app/server/manager/view/job_view.py
  app/server/manager/view/message_view.py
  test/example/agentic_service/load_service_by_sdk.py
  test/example/graph_agent/graph_modeling.yml
  test/example/run_job_decomposition.py
  test/unit/test_job_decomposition.py
  web/src/components/BubbleContent/index.tsx
Labels: feat, reasoner, priority:H, size:M, planner, web

#90 Change graph kb's default port
  app/core/common/system_env.py
  app/core/service/knowledge_base_service.py
Labels: bug, size:S

#87 fix: internationalization
  web/src/components/BubbleContent/index.tsx
  web/src/components/Placeholder/index.less
  web/src/components/Placeholder/index.tsx
  web/src/locales/en-US.ts
  web/src/locales/zh-CN.ts
Labels: bug

#96 feat(web):Chat function and style adjustments
  web/.umirc.ts
  web/src/components/BubbleContent/index.less
  web/src/components/BubbleContent/index.tsx
  web/src/components/Placeholder/index.less
  web/src/components/Placeholder/index.tsx
  web/src/components/SenderHeader/index.tsx
  web/src/constants/index.tsx
  web/src/locales/en-US.ts
  web/src/locales/zh-CN.ts
  web/src/pages/Home/index.less
  web/src/pages/Home/index.tsx
  web/src/utils/getTimeDifference.ts
Labels: feat, priority:L, web

#100 fix(web): show thinking and answer in markdown renderer
  web/package.json
  web/src/components/BubbleContent/index.tsx
  web/src/locales/en-US.ts
  web/src/pages/Home/index.tsx
Labels: bug, priority:H, size:S, web

#102 feat(web): polish chat style
  web/.umirc.ts
  web/src/components/BubbleContent/index.less
  web/src/components/BubbleContent/index.tsx
  web/src/components/NameEditor/index.tsx
  web/src/components/Placeholder/index.less
  web/src/components/SenderHeader/index.less
  web/src/components/SenderHeader/index.tsx
  web/src/components/ThinkCollapse/index.less
  web/src/components/ThinkCollapse/index.tsx
  web/src/components/ThinkStatus/index.less
  web/src/components/ThinkStatus/index.tsx
  web/src/constants/index.tsx
  web/src/domains/translator/index.ts
  web/src/global.less
  web/src/locales/en-US.ts
  web/src/locales/zh-CN.ts
  web/src/pages/Home/index.less
  web/src/pages/Home/index.tsx
  web/src/pages/Manager/index.tsx
  web/src/services/chat2graph/typings.d.ts
  web/src/utils/formatTimestamp.ts
Labels: feat, priority:H, app:web

#104 feat(app): support graph message
  app/core/agent/agent.py
  app/core/agent/leader.py
  app/core/common/type.py
  app/core/dal/dao/artifact_dao.py
  app/core/dal/dao/file_descriptor_dao.py
  app/core/dal/dao/job_dao.py
  app/core/dal/dao/message_dao.py
  app/core/dal/do/artifact_do.py
  app/core/dal/do/message_do.py
  app/core/model/artifact.py
  app/core/model/graph.py
  app/core/model/job.py
  app/core/model/message.py
  app/core/prompt/job_decomposition.py
  app/core/prompt/model_service.py
  app/core/prompt/reasoner.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/injection_mapping.py
  app/core/reasoner/model_service.py
  app/core/reasoner/mono_model_reasoner.py
  app/core/sdk/chat2graph.yml
  app/core/sdk/wrapper/session_wrapper.py
  app/core/service/artifact_service.py
  app/core/service/job_service.py
  app/core/service/message_service.py
  app/plugin/dbgpt/dbgpt_llm_client.py
  app/plugin/neo4j/resource/data_importation.py
  app/plugin/neo4j/resource/graph_analysis.py
  app/plugin/neo4j/resource/graph_modeling.py
  app/plugin/neo4j/resource/graph_query.py
  app/plugin/neo4j/resource/schema_operation.py
  app/plugin/tugraph/resource/graph_analysis.py
  app/plugin/tugraph/resource/graph_modeling.py
  app/server/api/session_api.py
  app/server/bootstrap.py
  app/server/manager/job_manager.py
  app/server/manager/message_manager.py
  app/server/manager/session_manager.py
  app/server/manager/view/job_view.py
  app/server/manager/view/message_view.py
  test/unit/test_artifact_increment.py
Labels: feat, priority:H, size:L, system:plugin, app:*

#106 feat (web): supported txt file types for upload
  web/src/components/SenderHeader/index.tsx
Labels: feat, app:web

#108 fix(web): resolve conflict and support txt file upload
  web/src/components/SenderHeader/index.tsx
Labels: priority:H, size:S, app:web, bug

#107 feat(web): graph message
  web/package.json
  web/src/components/BubbleContent/index.less
  web/src/components/BubbleContent/index.tsx
  web/src/components/GraphMessage/index.tsx
  web/src/components/NameEditor/index.tsx
  web/src/components/SenderHeader/index.tsx
  web/src/components/ThinkCollapse/index.tsx
  web/src/components/ThinkStatus/index.less
  web/src/components/ThinkStatus/index.tsx
  web/src/constants/index.tsx
  web/src/interfaces/index.ts
  web/src/locales/en-US.ts
  web/src/locales/zh-CN.ts
  web/src/pages/Home/index.less
  web/src/pages/Home/index.tsx
  web/src/pages/KnowledgebaseDetail/components/KnowledgebasesDrawer/index.tsx
  web/src/services/chat2graph/typings.d.ts
Labels: feat, priority:H, size:S, app:web

#114 fix(web): issue #111 #112 #113
  web/src/components/BubbleContent/index.tsx
  web/src/components/GraphMessage/index.less
  web/src/components/GraphMessage/index.tsx
  web/src/components/Language/index.less
  web/src/components/ThinkCollapse/index.less
  web/src/components/ThinkCollapse/index.tsx
  web/src/constants/index.tsx
  web/src/locales/en-US.ts
  web/src/locales/zh-CN.ts
  web/src/pages/Home/index.less
  web/src/pages/Home/index.tsx
Labels: priority:H, size:S, app:web, bug

#116 feat: add graph description display
  app/core/agent/agent.py
  app/core/agent/leader.py
  app/core/common/system_env.py
  app/core/dal/dao/message_dao.py
  app/core/dal/do/message_do.py
  app/core/model/message.py
  app/core/prompt/job_decomposition.py
  app/core/prompt/reasoner.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/model_service.py
  app/core/reasoner/mono_model_reasoner.py
  app/server/manager/view/message_view.py
  test/unit/test_dual_model_reasoner.py
Labels: feat, priority:H, size:S, app:*

#117 feat: optimize the prompt
  app/core/agent/leader.py
  app/core/common/system_env.py
  app/core/common/util.py
  app/core/prompt/job_decomposition.py
  app/core/prompt/model_service.py
  app/core/prompt/reasoner.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/model_service.py
  app/core/reasoner/mono_model_reasoner.py
  app/core/sdk/chat2graph.yml
  app/core/workflow/eval_operator.py
  app/core/workflow/operator.py
  test/example/run_dual_reasoner_with_func_calling.py
  test/example/run_mono_reasoner_with_func_calling.py
  test/example/run_reasoner_with_func_calling.py
  test/unit/test_util_json_parsing.py
Labels: feat, size:M

#122 fix(web): Language error switch
  web/src/pages/Home/index.tsx
  web/src/pages/Knowledgebase/components/KnowledgebasesTable/index.tsx
  web/src/pages/Manager/index.tsx
Labels: priority:H, size:S, app:web, bug

#133 fix(app): fix schema metadata handling for Neo4j DB
  app/core/dal/do/graph_db_do.py
  app/core/model/graph_db_config.py
  app/core/service/file_service.py
  app/core/service/graph_db_service.py
  app/plugin/neo4j/resource/data_importation.py
  app/plugin/neo4j/resource/graph_modeling.py
  app/plugin/neo4j/resource/schema_operation.py
  app/plugin/neo4j/resource/system_checking.py
  app/server/api/__init__.py
  app/server/api/graph_db_api.py
  web/src/locales/en-US.ts
  web/src/locales/zh-CN.ts
Labels: priority:H, size:M, app:data, bug

#135 feat(app:sdk): add graph db sdk api
  app/core/common/util.py
  app/core/sdk/agentic_service.py
  app/core/sdk/wrapper/graph_db_wrapper.py
  app/core/sdk/wrapper/job_wrapper.py
  app/core/workflow/eval_operator.py
  app/core/workflow/operator.py
  app/plugin/neo4j/resource/system_checking.py
  test/example/agentic_service/load_service_by_sdk.py
  test/example/agentic_service/load_service_by_yaml.py
Labels: feat, priority:H, size:S, app:sdk

#141 fix(web):Thought chain optimization
  web/src/components/BubbleContent/index.tsx
  web/src/constants/index.tsx
Labels: priority:H, size:S, app:web, bug

#140 feat(agent): add methods to stop, fail and continue job graph execution
  app/core/agent/expert.py
  app/core/agent/leader.py
  app/core/common/util.py
  app/core/model/file_descriptor.py
  app/core/model/message.py
  app/core/prompt/job_decomposition.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/mono_model_reasoner.py
  app/core/sdk/wrapper/session_wrapper.py
  app/core/service/job_service.py
  app/core/service/session_service.py
  app/plugin/neo4j/resource/data_importation.py
  app/plugin/neo4j/resource/system_checking.py
  app/server/api/session_api.py
  app/server/manager/message_manager.py
  app/server/manager/session_manager.py
Labels: feat, priority:H, size:M, app:sdk, agent:*

#145 fix: remove session id from file api
  app/server/api/file_api.py
Labels: app:*

#144 fix: enhance JSON matching capability and tools in plugin
  app/core/agent/leader.py
  app/core/common/util.py
  app/core/prompt/job_decomposition.py
  app/core/reasoner/model_service.py
  app/core/sdk/chat2graph.yml
  app/core/service/graph_db_service.py
  app/core/service/job_service.py
  app/plugin/neo4j/resource/data_importation.py
  app/plugin/neo4j/resource/graph_analysis.py
  app/plugin/neo4j/resource/graph_modeling.py
  app/plugin/neo4j/resource/graph_query.py
  app/server/api/file_api.py
  test/example/agentic_service/load_service_by_sdk.py
  test/unit/test_util_json_parsing.py
  web/src/pages/Home/index.tsx
Labels: priority:H, size:S, system:plugin, app:*, bug

#151 fix(knowledge): remove chunk name from knowledge's payload
  app/core/model/knowledge.py
Labels: agent:knowledge, priority:M, size:S, bug

#152 fix(knowledge): stabilize knowledge reference generation
  app/core/model/knowledge.py
  app/core/sdk/chat2graph.yml
  app/plugin/tugraph/resource/question_answering.py
Labels: feat, agent:knowledge, priority:H

#153 fix: clean up unused code and fix prompt
  app/core/sdk/chat2graph.yml
  app/plugin/neo4j/resource/graph_analysis.py
Labels: agent:knowledge, priority:H, size:S, system:plugin, bug

#156 fix: add embedding model name to environment template
  .env.template
Labels: priority:H, size:S, bug

#159 fix: fix utils.sh script to get correct pid
  bin/utils.sh
Labels: priority:H, size:S, bug

#155 feat: set default language to en-US
  .env.template
  app/core/common/system_env.py
  app/core/prompt/reasoner.py
  app/core/reasoner/dual_model_reasoner.py
  app/core/reasoner/mono_model_reasoner.py
  app/core/sdk/chat2graph.yml
Labels: agent:reasoner, size:M, size:S

#162 chore: fix graph_modeling.yml typo
  test/example/graph_agent/graph_modeling.yml
Labels: priority:M, size:S

#154 docs: add document for knowledge base
  .env.template
  README.md
  doc/chat/chat-cn.md
  doc/chat/chat.md
  doc/chat2graph-user-manual-cn.md
  doc/chat2graph-user-manual.md
  doc/graph_db/graph-db-cn.md
  doc/graph_db/graph-db.md
  doc/img/chat-layout-1-cn.png
  doc/img/chat-layout-1.png
  doc/img/chat-layout-2-cn.png
  doc/img/chat-layout-2.png
  doc/img/chat-layout-3-cn.png
  doc/img/chat-layout-3.png
  doc/img/graph-db-management-cn.png
  doc/img/graph-db-management.png
  doc/img/kb-QA-cn.png
  doc/img/kb-QA.png
  doc/img/kb-delete-cn.png
  doc/img/kb-delete.png
  doc/img/kb-detail-cn.png
  doc/img/kb-detail.png
  doc/img/kb-edit-cn.png
  doc/img/kb-edit-name-cn.png
  doc/img/kb-edit-name.png
  doc/img/kb-edit.png
  doc/img/kb-management-cn.png
  doc/img/kb-management.png
  doc/img/kb-parameter-cn.png
  doc/img/kb-parameter.png
  doc/img/kb-upload-cn.png
  doc/img/kb-upload.png
  doc/img/knowledge-base-cn.png
  doc/knowledge/knowledge-base-cn.md
  doc/knowledge/knowledge-base.md
Labels: doc

#164 fix(system): fix refresh issue in Chat2Graph log
  bin/start.sh
Labels: feat, size:M, size:S, system:*

#166 fix: update aisuite and dbgpt versions
  pyproject.toml
Labels: priority:H, size:S

#171 doc: prepare docs for v0.1.0
  README.md
  doc/CONTRIBUTING.md
  doc/chat2graph-user-manual-cn.md
  doc/cn/README-cn.md
  doc/cn/chat/chat.md
  doc/cn/graph_db/graph-db.md
  doc/cn/img/chat-layout-1.png
  doc/cn/img/chat-layout-2.png
  doc/cn/img/chat-layout-3.png
  doc/cn/img/gdb-mng.png
  doc/cn/img/graph-db-management.png
  doc/cn/img/index.png
  doc/cn/img/kb-delete.png
  doc/cn/img/kb-detail.png
  doc/cn/img/kb-edit-name.png
  doc/cn/img/kb-edit.png
  doc/cn/img/kb-management.png
  doc/cn/img/kb-parameter.png
  doc/cn/img/kb-qa.png
  doc/cn/img/kb-upload.png
  doc/cn/knowledge/knowledge-base.md
  doc/cn/test/罗密欧与朱丽叶.txt
  doc/cn/user-manual.md
  doc/en/chat/chat.md
  doc/en/graph_db/graph-db.md
  doc/en/img/chat-layout-1.png
  doc/en/img/chat-layout-2.png
  doc/en/img/chat-layout-3.png
  doc/en/img/gdb-mng.png
  doc/en/img/graph-db-management.png
  doc/en/img/index.png
  doc/en/img/kb-delete.png
  doc/en/img/kb-detail.png
  doc/en/img/kb-edit-name.png
  doc/en/img/kb-edit.png
  doc/en/img/kb-management.png
  doc/en/img/kb-parameter.png
  doc/en/img/kb-qa.png
  doc/en/img/kb-upload.png
  doc/en/knowledge/knowledge-base.md
  doc/en/test/Romeo and Juliet.txt
  doc/en/user-manual.md
  doc/head.png
  doc/img/chat-layout-1-cn.png
  doc/img/chat-layout-1.png
  doc/img/index-cn.png
  doc/img/index.png
  doc/img/knowledge-base-cn.png
  doc/logo.png
Labels: doc
